form {
    .form-connect {
      margin: 0;
  
      width: 100%;
      height: 80vh;
      background-color: #12002b;
      display: flex;
      justify-content:start;
      align-items: center;
      padding: 1rem;
padding-top: 2rem;
  
      .form-connect-connect {
        background-color: white;
        padding: 2rem;
       /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
        display: flex;
        flex-direction: column;
        align-items: center;
   
        .fa {
          color: black;
          font-size: 16px;
        }
        .signIn{
          font-size: 1.5rem;
        }
      }
  
      .form-connect-Username,
      .form-connect-passeword {
        display: flex;
        flex-direction: column;
        color: #12002b;
        text-align: left;
     padding: 0.4rem;
        width: 90%;
      
      }
  
      label {
        font-size: 14px;
        font-weight: bold;
      
      }
  
      input {
     
        display: block;
    width: 100%;
       margin: auto;
    font-size: 1rem;
    font-weight: bold;
height: 2rem;

    color:black;
      }
  
      input:focus {
        border-color: #12002b; /* Couleur de la bordure lors du focus */
        box-shadow: 0 0 4px rgba(18, 0, 43, 0.5); /* Effet lumineux */
      }
  
      .btn-submit {
        display: flex;
        justify-content: center;
      
        width: 100%;
      }
  
      button {
      
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
    
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
      }
  
      .input-remember {
        display: flex;
     
        align-self: flex-start;
 
     
 
        color: #12002b; /* Assure que le texte est visible sur un fond clair */
      }
      
      .input-remember input {
        margin-right: 0.5rem; /* Crée un espace entre la case à cocher et le label */
        transform: scale(1); /* Agrandit la case pour une meilleure accessibilité */
        
      }
      .helo {
        white-space: nowrap; /* Empêche le texte de se décaler sur plusieurs lignes */
        color: #12002b; /* Assure une bonne visibilité */
        font-size: 1rem; /* Ajuste la taille pour éviter les coupures */
      }
     
      
    }
  }
  