.form-connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color:#fff;
    h2{
     text-align: justify;

  
    }
    .form-connect-input{
      display: flex;
margin: 2rem;
margin: 0;
gap: 0.5rem;
        input{
           
            width: 120px;
            height: 20px;
        }
    }
   .form-connect-bt{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    .submit-button,.cancel-button{
        background-color: #00bc77;
        border:none;
        padding: 0.5rem;
        width: 100px;
        color: white;
    }
   }
    
}
