.main-nav{
  &:hover{
    text-decoration: none;
  }
  .main-nav-logo{
    img{
      height: 50px;
    }
  }
  display: flex;
  justify-content: space-between;
  .connected {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 10px; /* Espacement entre les éléments */
    color: #00bc77; 
    font-size: 1.5rem;

   
    .left-section {
      display: flex;
      align-items: center; /* Centre verticalement les enfants */
      gap: 2rem; /* Espacement entre les icônes et le nom d'utilisateur */
    }
  
    .username-section {
      display: flex;
      align-items: center; /* Centre verticalement le texte */
      gap: 0.5rem;
      font-weight: bold; /* Rend le texte plus visible */
    }
  
    .profile-link,
    .settings-link {
      display: flex;
      align-items: center; /* Centre les icônes verticalement */
    /* Taille de l'icône */
      color: #00bc77;; /* Couleur de l'icône */
      text-decoration: none; /* Supprime le soulignement des liens */
      transition: color 0.3s;
      background-color: white;
     
  
    }
  
    .logout-button {
      display: flex;
      align-items: center; /* Centre l'icône verticalement */
      background: none; /* Supprime le fond par défaut */
      border: none; /* Supprime les bordures */
    /* Taille de l'icône */
      color: #37ad6c;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.3s;
  
   
    }
  }
  .not-connected-link{
    display: flex;
    align-items: center;
    
    gap: 1rem;
  color: black;
  text-decoration: none;

  .sign-in{
    &:hover {
      text-decoration: underline;
    }
  }
 
  }
  &.profile-header {
    .profile-link,
    .settings-link,
    .not-connected-link {
      text-decoration: none; /* Supprime le soulignement */
    }

    .profile-link:hover,
    .settings-link:hover,
    .not-connected-link:hover {
      text-decoration: none; /* Évite le soulignement au survol */
    }
  }
  
}

